<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" id="applicationStylesheet" href="/css/index.css"/>
    <script id="applicationScript" type="text/javascript" src="/js/index.js"></script>
</head>
<body>
<div id="Index">
    <img id="Mask_Group_1" src="/img/index/Mask_Group_1.png" srcset="/img/index/Mask_Group_1.png 1x">
    </svg>
    <div id="Group_5">
        <svg class="Rectangle_3_n">
            <linearGradient id="Rectangle_3_n" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
                <stop offset="0" stop-color="#000" stop-opacity="0.769"></stop>
                <stop offset="1" stop-color="#000" stop-opacity="0.769"></stop>
            </linearGradient>
            <rect id="Rectangle_3_n" rx="0" ry="0" x="0" y="0" width="1920" height="1080">
            </rect>
        </svg>
    </div>
    <svg class="Line_1" viewBox="0 0 1 530">
        <path id="Line_1" d="M 0 0 L 0 530">
        </path>
    </svg>
    <svg class="Line_6" viewBox="0 0 1 337">
        <path id="Line_6" d="M 0 0 L 0 337">
        </path>
    </svg>
    <svg class="Line_8" viewBox="0 0 4.5 337">
        <path id="Line_8" d="M 4.5 0 L 0 337">
        </path>
    </svg>
    <svg class="Line_7" viewBox="0 0 987 1">
        <path id="Line_7" d="M 0 0 L 987 0">
        </path>
    </svg>
    <svg class="Line_9" viewBox="0 0 987 1">
        <path id="Line_9" d="M 0 0 L 987 0">
        </path>
    </svg>
    <div id="Explora_Costa_Rica">
        <span>Explora </span><span style="font-style:normal;font-weight:bold;font-size:80px;">Costa Rica</span>
    </div>
    <div id="y_comparte_con_otros_tu_experi">
        <span>y comparte con otros tu experiencia!</span>
    </div>
    <div id="Te_enseamos_los_increbles_luga">
        <span>Te enseñamos los increíbles lugares que podrías visitar</span>
    </div>
    <div id="Escoge_dentro_de_las_regiones_">
        <span>Escoge dentro de las regiones disponibles para explorar sitios a los que podrás visitar!</span>
    </div>
    <div id="Cada_lugar_tendr_informacin_im">
        <span>Cada lugar tendrá información importante que debes conocer antes de planificar tu siguiente viaje</span>
    </div>
    <div id="Guarda_tu_informacin_sobre_tus">
        <span>Guarda tu información sobre tus lugares visitados y comparte con otros tus experiencias!</span>
    </div>
    <div id="Selecciona_una_regin">
        <span>Selecciona una región</span>
    </div>
    <div id="ID01">
        <span>01</span>
    </div>
    <div id="ID02">
        <span>02</span>
    </div>
    <div id="ID03">
        <span>03</span>
    </div>
    <div id="Encuentra_un_lugar">
        <span>Encuentra un lugar</span>
    </div>
    <div id="Explora">
        <span>Explora</span>
    </div>
    <img id="Logo" src="/img/index/Logo.png" srcset="/img/index/Logo.png 1x">
    <div onclick="application.goToTargetView(event)" id="Group_8">
        <div id="EMPEZAR">
            <span>EMPEZAR</span>
        </div>
    </div>
    <div id="Bienvenido">
        <span>Bienvenido <%= name %></span>
    </div>
</div>
</body>
</html>