<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" id="applicationStylesheet" href="/css/login.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- JS -->
    <script id="applicationScript" type="text/javascript" src="/js/register.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script id="applicationScript" type="text/javascript" src="/js/login.js"></script>
</head>
<body>
<div id="Login">
    <img id="Mask_Group_1" src="/img/login/Mask_Group_1.png" srcset="/img/login/Mask_Group_1.png 1x">
    </svg>
    <div id="Group_5">
        <svg class="Rectangle_3_n">
            <linearGradient id="Rectangle_3_n" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
                <stop offset="0" stop-color="#000" stop-opacity="0.678"></stop>
                <stop offset="1" stop-color="#000" stop-opacity="0.612"></stop>
            </linearGradient>
            <rect id="Rectangle_3_n" rx="0" ry="0" x="0" y="0" width="1920" height="1080">
            </rect>
        </svg>
    </div>
    <svg class="Rectangle_1">
        <rect id="Rectangle_1" rx="0" ry="0" x="0" y="0" width="1440" height="860">
        </rect>
    </svg>
    <svg class="Rectangle_3_p">
        <rect id="Rectangle_3_p" rx="0" ry="0" x="0" y="0" width="860" height="860">
        </rect>
    </svg>
    <div id="LOGIN">
        <span>LOGIN</span>
    </div>
    <div onclick="application.goToTargetView(event)" id="No_tienes_una_cuenta_Regstrate">
        <span>¿No tienes una cuenta? Regístrate ahora mismo</span>
    </div>
    <div id="Bienvenido_a_CR_Reborn">
        <span>Bienvenido a CR Reborn</span>
    </div>
    <div id="Regstrate_para_empezar_a_explo">
        <span>Regístrate para empezar a explorar los diferentes lugares disponibles en nuestro país</span>
    </div>


    <img id="tucan_logIn" src="/img/login/tucan_logIn.png" srcset="/img/login/tucan_logIn.png 1x">

    <img id="Logo" src="/img/login/Logo.png" srcset="/img/login/Logo.png 1x">

</div>
</body>
</html>